a:hover {
  text-decoration: none;
}
body {
  background: #e3f3ee;
}
.App {
  text-align: center;
}

.login, .register, .info {
  width: 420px;
  margin: 60px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 30px;
  background: #fff;
}

.login-option, .remember {
  display: flex;
  justify-content: space-between;
}
.login-option button {
  width: 170px;
}
.login-option button, .btn-danger, .btn-warning{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
}
.login-option i, button {
  font-size: 15px !important; 
}
.btn-google {
  background-color: #4285F4;
}
.btn-facebook {
  background-color: #3B5998;
}
.form-group .text-left {
  font-size: 13px;
  color: gray;
  margin: 4px 0;
}

.frame {
  position: relative;
}
.frame p {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 8px;
}

.register-input {
  position: relative;
  height: 42px;
  overflow: hidden;
}
.register-input input {
  height: 100%;
  padding-left: 40px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
}
.register-input input:focus {
  box-shadow: none;
}
.register-input i {
  position: absolute;
  width: 35px;
  top: 1px;
  left: 1px;
  background:#eeeeee;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.user-info label {
  margin-right: 10px;
  width: 29%;
}

.validate  {
  padding-top: 10px;
  color: red !important;
  font-weight: 600 !important;
  font-style: italic;
  font-size: 15px !important;
}