a:hover {
  text-decoration: none;
}

.App {
  text-align: center;
}

.login, .register, .info {
  width: 420px;
  margin: 60px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 30px;
}

.login-option, .remember {
  display: flex;
  justify-content: space-between;
}
.login-option button {
  width: 170px;
}
.login-option button, .btn-danger, .btn-warning{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
}
.login-option i, button {
  font-size: 15px !important; 
}
.btn-google {
  background-color: #4285F4;
}
.btn-facebook {
  background-color: #3B5998;
}
.form-group .text-left {
  font-size: 13px;
  color: gray;
  margin: 4px 0;
}

.frame {
  position: relative;
}
.frame p {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 8px;
}



.user-info label {
  margin-right: 10px;
  width: 29%;
}